<!DOCTYPE html>

<html lang="en">
<head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Materialize CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    {{!-- Google Fonts CDN --}}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700,800" rel="stylesheet">
    {{!-- Materialize icons CDN --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- Link to main CSS file --}}
		{{!--<link rel="stylesheet" href="style.css" type="text/css"/>--}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		<title>Project Manager</title>
	</head>
	<body>
		{{{ body }}}
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Link to main JavaScript file -->
    {{!--<script type="text/javascript" src="script.js"></script>--}}
    <!-- Link to main Socket.io CDN -->
    
	</body>
</html>
