<div class="container">
  {{!-- Header --}}
  <nav>
    <div class="container">
      <div class="jumbotron">
        <h1>SafeChat</h1>
      </div>
    </div>
  </nav>

  <main>
    <div id="userFormArea" class="row">
      <div class="col-md-12">
        <form id="userForm">
          <div class="form-group">
            <label>Enter Username</label>
            <input class="form-control" id="username">
            <br/>
            <input type="submit" class="btn btn-primary" value=" Login" />
          </div>
        </form>
      </div>
    </div>

    <div class="row" id="messageArea">
      <div class="col-md-4">
        <div class="well">
          <h3> Online users </h3>
          <ul class="list-group" id="users"> </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat" id="chat">
        </div>
        <form id="messageForm">
          <div class="form-group">
            <label>Enter Message</label>
            <textarea class="form-control" id="message"> </textarea>
            <br/>
            <input type="submit" class="btn btn-primary" value="Send Message" id="sendMessage"/>
          </div>
        </form>
      </div>
    </div>
  </main>

</div>
