{{!-- HEADER --}}
<nav>
  <div class="nav-wrapper blue">
    <div class="row">
      <a href="#" class="brand-logo center" id="logo"><i class="material-icons">forum</i>safeCHAT</a>
    </div>
  </div>
</nav>

{{!-- MESSAGES SECTION --}}
<main class="blue lighten-5">
  <div class="row" id="messageArea">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col s12 grey-text text-darken-2 white bubble" id="messages">
            <p><h6>chatbot</h6>Hello. Welcome to safeChat, a safe space to chat!</p>

            {{#each messages}}
              <p><h6>{{this.username}}</h6>{{this.message}}</p>
            {{/each}}

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</main>

{{!-- MESSAGE INPUT SECTION --}}
<footer class="page-footer blue">
  <div class="row blue" id="chat">
    <div class="container">
      <div class="container">
        <form col s12 id="messageForm">
          <div class="row">
            <div class="input-field col s11">
              <input type="text" placeholder="Message" class="white grey-text text-darken-2 bubble" id="message">
            </div>
            <div class="col s1 center">
              <a href="#"><i class="material-icons yellow blue-text small hoverable circle" id="sendMessage">arrow_upward</i></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>